@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #20bdf2;
  --white: white;
  --light-gray: #f5f5f5eb;
  --dark-gray: #333333;
  --black: rgb(3, 3, 3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

hr {
  width: 90%;
  border: 1px solid var(--dark-gray);
  opacity: 0.2;
}

.font-thin {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

input,
textarea {
  padding: 10px;
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--black);
}

input::placeholder {
  color: var(--black);
}

button {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

/* Navbar */
.navbar-container {
  width: 100%;
  padding: 0 3rem;
  color: var(--white);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid var(--dark-gray);
}

.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s all ease;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 3rem;
  height: 2rem;
}

.navbar-brand-main {
  font-weight: 700;
}

.navbar-brand-sub {
  font-weight: 400;
  color: var(--primary-color);
}

.nav-item {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.nav-item:hover {
  color: var(--primary-color);
}

/* Hero */
.hero-container {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-gray);
  background-image: url("./assets/images/microsoft-edge-FAaz8lkinzs-unsplash.jpg");
  display: flex;
  align-items: center;
}

.hero-cta-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
  width: 40%;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-cta-container > p {
  line-height: 1.5rem;
  font-weight: 300;
}

.hero-cta-container > button {
  background-color: var(--primary-color);
  color: var(--black);
}

/* About */
.about-container {
  width: 100%;
  height: 100vh;
}

/* Tech */
.tech-container {
  width: 100%;
  height: 100vh;
}

/* Services */
.services-container {
  width: 100%;
  height: 100vh;
}

/* Contact Us */
.contactus-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactus-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.contactus-container > h3 {
  width: 50%;
}

.contactus-row > input {
  width: 24%;
}
.contactus-row > textarea {
  width: 50%;
}

.contactus-row > button {
  background-color: var(--primary-color);
  color: var(--black);
}

/* Footer */

.footer-container {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-contact {
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter {
  padding: 0 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.newsletter > h3 {
  width: 100%;
  margin-bottom: 2rem;
}

.newsletter-form > input {
  width: 100%;
}

.newsletter-form > button {
  background-color: var(--black);
  color: var(--white);
}

.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.contact > span {
  font-weight: 300;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  cursor: pointer;
}

.footer-copyright {
  width: 100%;
  margin: 1rem;
  padding-left: 5%;
}
